<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta name="description" content="Sector's Edge tournament teams">
  <meta name="keywords" content="#7Days7Websites, the noah, vercidium, sectors edge">
  <meta name="author" content="The Noah">
  <meta property="og:description" content="Sector's Edge tournament teams">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="Sector's Edge Tournament Teams">
  <meta property="og:site_name" content="Sector's Edge Tournament Teams">
  <meta property="og:url" content="https://the-noah.github.io/sectors-edge-tournament-teams">
  <meta property="og:image" content="https://the-noah.github.io/sectors-edge-tournament-teams/favicon.ico">
  <title>Sector's Edge Tournament Teams</title>
  <style><%- css -%></style>
</head>
<body>
  <h1>:)</h1>
  <footer>Copyright &copy; 2020 The Noah</footer>
</body>
</html>
